REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID:		REQ001
Description:	Process a credit or debit card payment from a customer.
Type:
Rationale:	A payment is required from a customer in order to be booked on a workshop.
Originator:	Booking agents/receptionists (Sandra/James) overseen by Karen

REQ-ID:		REQ002
Description:	Send notification e-mail to customer.
Type:
Rationale:	The customer requires an acknowledgement e-mail upon confirmation of a successful payment and booking.
Originator:	Booking agents/receptionists (Sandra/James) overseen by Karen

REQ-ID:		REQ003
Description:	The product shall maintain records of workshops that have been run, including date, time, coordinator, and cost.
Type:
Rationale:	To be able to pay workshop coordinators the correct amount for workshops they have run.
Originator:	Marion Harkin ñ Director

REQ-ID:		REQ004
Description:	The product shall be able to make online bank transfers.
Type:
Rationale:	To ensure that workshop coordinators can be paid.
Originator:	Marion Harkin ñ Director

REQ-ID:		REQ005
Description:	Automatically produce management reports on a daily and weekly basis.
Type:
Rationale:	To enable comparison of current performance against both previous and planned performance.
Originator:	Justin Cadogan and Marion Harkin

REQ-ID:		REQ006
Description:	Add, update and access membership information for individuals.
Type:
Rationale:	To provide necessary member information required for booking workshops and knowing whether discount should be applied.
Originator:	Booking agents/receptionists (Sandra/James)

REQ-ID:		REQ007
Description:	The product shall keep information about the maximum number of possible participants in a workshop/course. 
Type:
Rationale:	To be able to determine if there are available places for a new booking.
Originator:	Booking agents/receptionists (Sandra/James)

REQ-ID		REQ009
Description:	Prepare a report of EVS volunteers' progress.
Type:			Functional.
Rationale:		The centre needs to be able to track the progress of EVS volunteers.
Originator:	Marion Harkin - Director.

REQ-ID		REQ010
Description:	Submit a periodic progress report to EVS.
Type:			Functional.
Rationale:		EVS must be kept informed of the progress of their volunteers.
Originator:	Marion Harkin - Director. 

REQ-ID		REQ011
Description:	The system should allow for a workshop to be rescheduled
Type:		Functional.
Rationale:	Facilitators may need to reschedule workshops they’re running
Originator:	Karen

REQ-ID		REQ012
Description:	The system should notify attendees and centre staff of a workshop schedule change
Type:		Functional.
Rationale:	Attendees need to be made are of changes to workshops they are attending.  Centre staff will need to be aware of the new schedule as they will need to prepare facilities for the workshop
Originator:	Karen 

REQ-ID:		REQ013
Description:	The product shall accept a reservation request.
Type:		Functional.
Rationale:	To allow members the choice to attend a course.
Originator:	Member.

REQ-ID:		REQ015
Description:	The product shall provide a list of available equipment on a particular date.
Type:		Functional
Rationale:	The facilitator can only make reservations for equipment that is available on a particular date.
Originator:	Karen Black

REQ-ID:		REQ017
Description:	The product shall generate a supply order in response to a facilitators request.
Type:		Functional.
Rationale:	Ensure that consumable supply orders are actioned on receipt of a facilitators request mitigating order ommissions or insufficient time for orders to arrive.
Originator:	C.Berry (Source: Karen Black, Administrator)

REQ-ID:		REQ018
Description:	The product shall record receipt of a supply delivery.
Type:		Functional.
Rationale:	Provide a means of recording receipt of supply delivery in order to ensure that billing from suppliers is accurate.
Originator:	C.Berry (Source: Marion Harker, Director)

REQ-ID:		REQ019
Description:	The product shall record roles for users.
Type:		Functional
Rationale:	Users can have one or more roles, with system functionality, as well as perks tied to roles.
Originator:	Justin Cadogan

REQ-ID:		REQ020
Description:	The product shall export data to the accounting system.
Type:		Functional
Rationale:	The stakeholder has indicated that an off-the-shelf accounting system will be used. 
Originator:	Justin Cadogan

REQ-ID:		REQ021
Description:	If an order of consumable supplies is made/placed then the product must record/have a means of recording these ordered supplies.
Type:		Functional
Rationale:	Supplies are being ordered to meet a need. Orders for supplies may still be open/unfulfilled when checking for the subsequent need. Record of open orders will help prevent unnecessary orders.
Originator:	Marion Harkin (Director).

REQ-ID:		REQ022
Description:	The product must provide a means of checking (in) deliveries against ordered supplies.
Type:		Functional
Rationale:	Deliveries are checked to ensure the ordered supplies meet the requested order. This confirmation of delivery is used to 'check the bill when it arrives' as part of the payment approval process.
Originator:	Marion Harkin (Director).

REQ-ID:		REQ023
Description:	The product should allow for handling of invoices
Type:		Functional
Rationale:	At present no cohesion with how invoices are received and handled, all seperate systems. No quick way to check workshop co-ordinator or lecturer agreed fees, terms or against scheduled hours for received invoices or knowing if they're settled or not.
Originator:	Marion Harkin